/* CUSTOMIZE GO TO TOP BUTTON
-------------------------------------------------- */
#myBtn {
  display: none;
  font-size: 3rem;
  position: fixed;
  padding: 0.75rem 2rem;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  cursor: pointer;
  background-color: #b1a325;
  border-color: #b1a325;
}

#myBtn:hover {
  background-color: #89973c;
  border-color: #89973c;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
.navbar-brand {
  margin-left: 40px;
  padding: 0;
}

.navbar-brand img {
  width: 140px;
  padding: 0;
}

.navbar-nav {
  margin: 0 40px;
}

.navbar-light {
  background: white !important;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.55);
  cursor: pointer;
  padding: 0 40px;
  font-weight: 450;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #b1a325;
}

@media screen and (max-width: 991px) {
  .navbar-brand {
    margin-left: 0;
    padding: 0;
  }
  .navbar-nav {
    margin: 0;
    text-align: center;
  }
  .navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 0.55);
    padding: 21px 0;
  }
}

/* CUSTOMIZE THE SCROLL BAR
-------------------------------------------------- */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #9e9e9e;
  border-radius: 2px;
}

.goback {
  margin: 2rem 0 0 0;
}

.goback p {
  margin-bottom: 0;
  font-weight: 500;
  cursor: pointer;
  width: 85px;
}

/* CUSTOMIZE THE SECTIONS
-------------------------------------------------- */
.section {
  padding: 1rem 0;
}

.section h3 {
  font-size: 1.5rem;
  font-weight: 700;
}

.section .btn-primary {
  color: #fff;
  font-weight: 400;
  padding: 1rem 0.75rem;
  background-color: #b1a325;
  border-color: #b1a325;
  margin-bottom: 1rem;
  width: 100%;
}

.section .btn-primary:hover {
  background-color: #89973c;
  border-color: #89973c;
}

.section .input-wrapper {
  padding: 0.5rem 4rem;
}

.section .input-wrapper input {
  padding: 1rem 0.75rem;
}

.section-address {
  margin-top: 0.5rem;
}

.section-heading {
  font-weight: 650;
  line-height: 2rem;
  letter-spacing: -.05rem;
  padding-bottom: 0.5rem;
  margin-bottom: 0;
  color: #b1a325;
  line-height: 0;
  padding: 3rem 0 1rem 0;
}

@media (max-width: 991px) {
  section {
    scroll-margin-top: 21rem;
  }
  section img {
    margin-bottom: 2rem;
  }
  section .input-wrapper {
    padding: 0.5rem !important;
  }
  section .input-wrapper input {
    padding: 1rem 0.75rem;
  }
}

@media (max-width: 767px) {
  section p {
    padding: 0 0 0 0 !important;
    font-size: 1rem !important;
  }
}

/* RESPONSIVE CSS
-------------------------------------------------- */
@media (min-width: 768px) {
  .section {
    padding: 3rem 0;
  }
  .section-heading {
    font-size: 42px;
    line-height: 3rem;
    padding-bottom: 1rem;
  }
  .section-image img {
    width: 100%;
    height: 400px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media (min-width: 62em) {
  .section-heading {
    margin-top: 1rem;
  }
}
/*# sourceMappingURL=style.css.map */